@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root {
    --header: 25vh;
    --submit: 20vh;
    --form: calc(100vh - calc(var(header) + calc(var(submit))));
    --logo-width: 30vw;
    --main-width: 70vw;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
    display: flex;
    height: 100vh;
}

header {
    min-height: var(--header);
    width: var(--main-width);
    background-color: rgb(149, 133, 123, .5);
    color: white;
    font-weight: bold;
}

form {
    min-height: var(--form);
    background-color: #bdc5ca;
    color: white;
    font-weight: bold;
}

header p {
    max-width: 35vw;
    margin: 1rem;
    margin-top: 4rem;
}

.image-container {
    position: relative;
    width: var(--logo-width);
    background: no-repeat url('images/rafal-jedrzejek-LZYOvgI_1_Q-unsplash.jpg');
    background-size: cover;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: var(--logo-width);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
    top: 10rem;
    padding: 1rem 0;
    gap: 1rem;
}

.logo img {
    width: auto;
    height: 8rem;
}

.logo p {
    font-size: 2.5rem;
    font-style: bold;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: var(--main-width);
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 35vw;
    margin: 1rem;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin: .5rem 1rem;
}